*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.input{
    padding-top:80px;
    padding-left:20px
}
input{
    margin-bottom:6px;
    height:30px;
    width:200px;
}
button{
    margin-left:20px;
    background-color:rgb(69, 69, 221);
    color:white;
    padding:4px 5px;
    letter-spacing: 2px;
}
.desc{
    padding:5px 20px;
}

.container{
    display: flex;
}
.p2{
    padding:150px 0 0 190px;
    width:800px
}
